@font-face {
    font-family: Poppins;
    src: url('../assets/fonts/Poppins-Regular.ttf')
}

html,
body {
    height: 100%;
    margin: 0;
    background: #fcfeff;
}

div.sideLogIn {
    color: rgb(221, 243, 243);
    font-family: Poppins;
    font-size: xx-large;
    background: #1A465B;
    background: linear-gradient(142deg,
            rgba(26, 70, 91, 1) 15%,
            rgba(29, 91, 120, 1) 35%,
            rgba(6, 148, 148, 1) 60%,
            rgba(83, 229, 237, 1) 95%,
            rgba(110, 248, 255, 1) 100%);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 55%;
    height: 100vh;
    padding: 25px;
    box-sizing: border-box;
    align-items: center;
}

div.bemvindo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

h5 {
    margin: 0;
}

footer.copy {
    position: absolute;
    bottom: 0;
    left: 10px;
}

p.copy {
    font-size: xx-small;
}

#bordao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 150px;
    font-size: x-large;
}

h1,
h1.titulo {
    margin: 0;
}

p.subtitulo {
    margin: 0;
    line-height: 0.05;
}

.login {
    color: rgb(6, 20, 26);
    font-family: Poppins;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 40%;
    min-width: 400px;
    min-height: 300px;
    margin-top: 5rem;
    margin-right: 25px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

input.campoLogIn {
    background-color: rgb(245, 253, 255);
    font-size: 1.5rem;
    border-radius: 1rem;
    border: solid rgb(231, 248, 248) 3px;
    width: 500px;
    height: 50px;
}

label {
    margin-top: 40px;
}

button.subCadastro {
    background: linear-gradient(142deg,
            rgba(26, 70, 91, 1) 15%,
            rgba(29, 91, 120, 1) 35%,
            rgba(6, 148, 148, 1) 100%);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    border-radius: 1rem;
    border-style: none;
    width: 500px;
    height: 50px;
    margin-top: 40px;
    transition: ease 0.3s;
    cursor: pointer;
}

button.subCadastro:hover {
    background: linear-gradient(142deg,
            rgba(26, 70, 91, 1) 15%,
            rgba(29, 91, 120, 1) 35%,
            rgba(6, 148, 148, 1) 100%);
    opacity: 0.87;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    border-radius: 1rem;
    border-style: none;
    width: 500px;
    height: 50px;
    margin-top: 40px;
}
